/*Medias de seccion1*/

@media only screen and (max-width: 460px) {
    .contenerdor_main {
        background-size: cover;
    }
    .input {
        height: 40px;
        margin-bottom: 50%;
    }
    .main__title {
        font-size: 20px;
    }
}


/*Medias de seccion principal*/

@media (max-width: 54em) {
    h1,
    h2 {
        line-height: 1.6rem;
    }
    h1 {
        font-size: 2.5vw;
    }
    h2 {
        font-size: 1.8vw;
    }
}

@media (max-width: 42em) {
    h1,
    h2 {
        line-height: 1.1;
    }
    h2 {
        margin-top: 0.3em;
    }
}


/*-----medias del footer----*/

@media only screen and (max-width: 600px) {
    .main__description--title {
        font-size: 30px;
    }
    .footer {
        align-items: flex-start;
        flex-direction: column;
    }
}