* {
    margin: 0;
}


/*Seccion 1 de busqueda*/

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 500px;
    border-radius: 0px 0px 40px 40px;
}

.main__title {
    color: #FEFFFE;
    font-size: 35px;
}

.contenerdor_main {
    background-image: url(pexels-thisisengineering-3862632.jpg);
    background-position: right top;
    background-size: cover;
}

.input {
    border: 2px solid#6B705C;
    border-radius: 25px;
    color: white;
    font-size: 16px;
    height: 50px;
    margin-bottom: 20%;
    outline: none;
    padding: 0px 20px;
    width: 70%;
}


/*Medias de seccion1*/

@media only screen and (max-width: 460px) {
    .contenerdor_main {
        background-image: url(pexels-thisisengineering-3862632.jpg);
        background-position: center;
        background-size: cover;
    }
    .input {
        height: 40px;
        margin-bottom: 50%;
    }
    .main__title {
        font-size: 20px;
    }
}