/*----------------Store-----------*/

.store {
    padding: 2rem;
    background: #caf0f8;
}

.deals {
    max-width: 500px;
    margin: 0 auto;
}

.sale-item {
    margin: 1rem 0;
}

@supports (display: grid) {
    .deals {
        max-width: none;
        margin: 0;
    }
    .sale-item {
        margin: 0;
    }
    .deals {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 1rem;
    }
}

.sale-item {
    display: flex;
    flex-flow: column;
}

.sale-item>img {
    order: -1;
    align-self: center;
}

.sale-item img {
    width: 250px;
    height: 200px;
    object-fit: cover;
}

.sale-item {
    padding: 2rem;
}

.sale-item>h1 {
    margin: 1rem 1rem 0;
}

.sale-item>h1::first-letter {
    color: blue;
    font-size: 25px;
}

.sale-item>ul {
    margin: 0 0 1rem;
}

.sale-item>p {
    margin: 0.25em 1rem 1rem;
}

.deals {
    font-family: Avenir, Roboto, Helvetica, san-serif;
    font-size: 80%;
}

.sale-item {
    border: 2px solid black;
    border-radius: 1rem;
    background: white;
}

.sale-item>button {
    margin-top: auto;
    background: teal;
    color: white;
    padding: 0.5rem;
    border: none;
    border-radius: 1rem;
    font-size: 1.2rem;
    cursor: pointer;
    outline: none;
}

.sale-item>button:hover {
    background: #0080808f;
}