# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\erine\OneDrive\Documents\TERCER CEMESTRE\PROCESO ADMINISTRATIVO\Tareas de Proceso administrativo\Pagina web para el proyecto\Testing-Interactive\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
